*{
	margin: 0;
	padding: 0;
	border:0;
	/* font-family: 'Helvetica Neue', Helvetica, Tahoma, sans-serif */
}
body{
	width: 375px;
}
.kong{
	height: 70px;
	width: 375px;
}
footer{
	display: flex;
	position: relative;
	position:fixed;
	bottom:0px;
	height: 60px;
	width: 375px;
	border-top: 1px solid lightgray;
	background: white;
}
.footer__box{
	width: 25%;
	text-align: center;
	color:dimgray
}
.footer__box img{
	width: 40px;
	height: 40px;
	text-align: center;
}
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;border:0;} 
/* body{font-size:12px;font-family:"SimSun","宋体","Arial Narrow";} */
ul,ol{list-style-type:none;} 
select,input,img,select{vertical-align:middle;} 
 
a{text-decoration:none;} 
a:link{color:#696969;} 
a:visited{color:#696969;} 
a:hover,a:active,a:focus{color:#c00;text-decoration:underline;}